
body {
    background-color: #000;
}

.bottom-nav {
    width: 50%;
    position: fixed;
    bottom: 0px;
    left: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    margin: 0px;
    border-radius: 20px 20px 0px 0px;
    padding: 30px 0px 15px;
    box-shadow: 0px 8px 10px rgba(130, 43, 97, 0.19); /* Replaced the variable with color values */
    list-style: none;
}

.bottom-nav li a {
    width: 75px;
    height: 45px;
    color: #822b61;
    text-align: center;
    font-size: 20px;
    display: block;
    transition: 1s;
    position: relative;
}

.bottom-nav li a i {
    width: 100%;
    position: absolute;
    top: 23%;
    left: 0;
    transition-delay: 0.3s;
    transition: 1s cubic-bezier(0.49, -0.35, 0.77, 1.44);
    z-index: 9;
}

.bottom-nav li a span {
    display: block;
    font-size: 12px;
    width: 100%;
    position: absolute;
    bottom: -16px;
    transition-delay: 0.3s;
    transition: 1s cubic-bezier(0.49, -0.35, 0.77, 1.44);
    z-index: 9;
    opacity: 0;
}

.bottom-nav li a.active-icon i {
    top: -102%;
    transition-delay: 0.3s;
    transition: 1s cubic-bezier(0.49, -0.35, 0.77, 1.44);
}

.bottom-nav li a.active-icon span {
    bottom: 14px;
    transition-delay: 0.5s;
    transition: 1s cubic-bezier(0.49, -0.35, 0.77, 1.44);
    opacity: 1;
}

.bottom-nav .slider {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -35px;
    background-color: #fff;
    border: 2px solid #822b61;
    box-shadow: 0px 0px 0px 5px #822b61;
    transition: 1s;
    border-radius: 50%;
}

@media(max-width: 900px) {
    .bottom-nav {
        width: 100%;
        left: 0;
    }
}